{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

      {% if search_results %}
        <h1 class="my-4">Showing search results for "{{ search_query }}"</h1>
        {% for result in search_results %}
        {% with post=result.specific %}
              <!-- Blog Post -->
              <div class="card mb-4">
                <div class="card-body">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <p class="card-text">{{ post.intro }}</p>
                  <a href="{% pageurl post %}">Read Post</a>
                </div>
                <div class="card-footer text-muted">
                  Posted on {{ post.date }}
                </div>
              </div>
      {% endwith %}
      {% endfor %}
      {% elif search_query %}
      <h1 class="my-4">No results found</h1>
      {% endif %}
      <!-- end of results -->
      <p><a href="{{ request.META.HTTP_REFERER }}">Return to previous page</a></p>
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "search.html" %}
      </div>


    <!--
    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %} -->
</div>
</div>
</div>
{% endblock %}
