{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container">
    <div class="row">
      {# Blog Entries Column  #}
      <div class="col-md-8">
        {% if request.GET.tag|length %}
          <h1 class="my-4">Showing pages tagged "{{ request.GET.tag }}"</h1>

          {% for post in blogpages %}
            {% with post=post.specific %}
              {# Blog Post  #}
              <div class="card mb-4">
                <div class="card-body">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <p class="card-text">{{ post.intro }}</p>
                  <a href="{% pageurl post  %}" class="btn btn-primary btn-sm">Read Post &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                  Posted on {{ post.date }}
                </div>
              </div>
            {% endwith %}
          {% endfor %}
        {% else %}
          <h1 class="my-4">No pages with tag {{request.GET.tag }} available</h1>
        {% endif %}
        <p><br><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-sm">&larr; Return to previous page</a></p>
      </div>
      {# Sidebar Widgets Column  #}
      <div class="col-md-4">
        {% include "search.html" %}
      </div>
    </div>
</div>
{% endblock %}
