.badge-light a {
  color: #000000;
  font-size: 14px;
}
.rich-text p {
  font-size: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#page-content {
  min-height: 100vh;
  margin-bottom: 60px;
}

.footer {
  position: static;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
